@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Work+Sans&display=swap');

/* TAGS------------------------------------------------------------------------------- */

*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

h1{
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
  /* letter-spacing: 1px; */
  text-align: left;
  color:  #003655;
}

h3{
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  color:  #003655;
}

span{
  color: 555555;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0em;
  text-align: justify;
  color:   #555555;
}

h6{
  color: #333;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 190%;  

}

/*  ENDING TAGS   -------------------------------------------------------------------- */


/*  INDEX PAGE    --------------------------------------------------------------------- */

.jcom_logo{
  width: 247px;
  height: 62.561px;
  flex-shrink: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-nav {
  display: inline-flex;
  align-items: flex-start;
  gap: 54px;
}

#navlink2 {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
}

.navbarsearchimage img{
  background-color: #00304D;
  height: 90%;
  width: 100% ;
  border-radius: 50%;
}

.navbarphonenumber{
  color: #171010;
  font-family: Inter;
  font-size: 19.221px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* FULLFILING LOVE */

.fulfilinglove{
  background-color: #DDECFF;
  height: 100%;
  width: 100%;
}

.fulfilinglove h1{
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
  letter-spacing: 1px;
  text-align: left;
  color:  #003655;
}

.fulfilinglove h6{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  color: #222222;
}

.fulfilingloveiconbar{
  /* position:  absolute;
  top:4%; */
}

/* ENDING  FULLFILING LOVE */

/*  ARE YOU LOOKING  */

.areyoulooking h1{
  color:   #024262;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 117.8%;  
}

.areyoulooking h6{
  color: #333;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 190%;  
}

.areyoulooking{
  margin-bottom: 10%;
}

/*  ENDING ARE YOU LOOKING  */


/* OUR SERVICES */

.ourservices img{
  padding-left: 16%;
  
}

.ourservicesfirstcard{
  background-color: #F1DAF7;
  font-family: 'Poppins', sans-serif;
  color: #222;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 141%; 
}

.ourservicessecondcard{
  background-color: #E7F2FF;
  font-family: 'Poppins', sans-serif;
  color: #222;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 141%;  
}

.ourservicesthirdcard{
  background-color: #FAF5E4;
  font-family: 'Poppins', sans-serif;
  color: #222;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 141%; 
}

.ourservices{
  margin-bottom: 10%;
}

/* VAGINAL REJUVENATION   */

.Vaginalrejuvenation{
  background-color:  #E7F2FF;
  margin-bottom: 10%;
}

/*  FOUNDERS */

.founders{
  background-color: #F2F2F2;
  height: auto;
  width: auto;
}
/* .founders img{
  height: 39%;
  width: 50%;
} */
.founders h1{
  color: #00061A;
  font-family: 'Work Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.founders h6{
  color: #00061A;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/*  ENDING  INDEX PAGE   -------------------------------------------------------------- */


/*  ABOUT PAGE    -------------------------------------------------------------- */
 
/* .aboutus {
  background-image: url("img/about.png");
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  position: relative;  
} */
.aboutus {
  background-image: url("img/about.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  position: relative;
}


/* Adjust for tablets */
@media (max-width: 768px) {
  .aboutus {
    height: 300px; /* Adjust the height for tablets */
    background-size: cover; /* You can use 'contain' if needed for tablets */
  }
}

@media (max-width: 768px) {
  .aboutus {
    height: 200px;  
    background-size: contain;  
  }
}

.aboutus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(173, 216, 230, 0.7); 
}

.aboutuscontent{
   position: relative;
   padding-top: 16%;
}
 
.ourstory {
  position: relative;
  margin-top: -2%;
  margin-left: 12%;
  margin-right: 15%;
  box-shadow: 20px 20px 20px 15px rgba(32, 32, 32, 0.1);
  background: #FFF; /* Add a background color */
  border-radius: 10px; /* Add border-radius for a rounded appearance */
  padding: 20px; /* Add padding for content spacing */
}

/* .ourstory{
  position: relative;
  margin-top: -2%;
  margin-left: 12%;
  margin-right: 15%;
  box-shadow: 20px 20px 20px 15px rgba(32, 32, 32, 0.1);
} */

 


/*  ENDING  ABOUT PAGE   ------------------------------------------------------- */



/*   CONTACT  PAGE   -------------------------------------------------------------- */

/* .contactus {
  background-image: url("img/contact\ us\ image.jpeg");
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  position: relative;  
} */



.contactus {
  background-image: url("img/contact us image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  position: relative;
}

/* Adjust for tablets */
@media (max-width: 768px) {
  .contactus {
    height: 300px; /* Adjust the height for tablets */
    background-size: cover; /* You can use 'contain' if needed for tablets */
  }
}

/* Adjust for mobile devices */  
 @media (max-width: 480px) {
  .contactus {
    height: 200px;  
    background-size: cover;  
  }
}

.contactus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(192, 225, 236, 0.7); 
}

.contactuscontent{
   position: relative;
   padding-top: 16%;
}

.getintouch{
  position: relative;
  margin-top: -4%;
  margin-left: 12%;
  margin-right: 15%;
  box-shadow: 40px 40px 40px 15px rgba(32, 32, 32, 0.1);
  background: #FFF; /* Add a background color */
  border-radius: 10px; /* Add border-radius for a rounded appearance */
  padding: 20px; /* Add padding for content spacing */
}

/* 
#getintouchid{
  margin-left: 14%;
} */



/*  ENDING CONTACT PAGE  --------------------------------------------------------- */
 


/*   APPOINMENTPAGE      -------------------------------------------------------------- */

.mainsection{
  color: #444;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mainsectionimage{
   padding: 10% 5% 0% 20% ;
}

#appoinmentfrom input {
  width: 100%;
  height: 38px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #F3F3F3;
  color: #444;
  border: 5px  black ;
  margin-bottom: 4%
}

#appoinmentfromselect{
  width: 100%;
  height: 38px;
  flex-shrink: 0;
  border-radius: 2px;
  background:  #F3F3F3;
  color: #444;
  border: 5px  black ;
  margin-bottom: 4%;
}

#appoinmentsubmitbtn{
  background-color:#024262;
  color: #FFF;
  font-size:  15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 40%;
  padding-right: 40%;
}

 
/*  ENDING  APPOINMENTPAGE  ---------------------------------------------------  */

/*  FOOTER  ------------------------------------------------------------- */

#footer{
  background-color: #00527E;
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Inter', sans-serif;
}

#footer h6{
  color: #FFF;
  font-size:  17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Inter', sans-serif;
}


#footer h6 a{
  color: #FFF;
  font-size:  17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

.footerfirstblock{
  padding-top: 9%;
}

.footersecondblock{
  padding-top: 9%;
}

.footerthirdblock{
  padding-top: 9%;
}

/*  ENDING  FOOTER  ------------------------------------------------------------- */

.fulfilingloveiconbar{
  position: fixed;
  z-index: 9999;
  background-color: #FFF;
}