@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* TAGS------------------------------------------------------------------------------- */

h1{
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
  /* letter-spacing: 1px; */
  text-align: left;
  color:  #003655;
}
h6{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #222222;
  /* text-align: left; */
}




/*  ENDING TAGS   -------------------------------------------------------------------- */


/*  INDEX PAGE    --------------------------------------------------------------------- */
 

.navbarphonenumber{
  color: #171010;
  font-family: Inter;
  font-size: 19.221px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fulfilinglove{
  background-color: #DDECFF;
  height: 100%;
  width: 100%;
}

.fulfilinglove h1{
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
  letter-spacing: 1px;
  text-align: left;
  color:  #003655;
}
.fulfilinglove h6{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  color: #222222;
  /* text-align: left; */
}
.areyoulooking h1{
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
  /* letter-spacing: 1px; */
  text-align: left;
  color:  #003655;
}

.areyoulooking h6{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #222222;
  /* text-align: left; */
}

.areyoulooking{
  margin-bottom: 15%;
}


/* OUR SERVICES */

.ourservices img{
  padding-left: 16%;
  
}

.ourservicesfirstcard{
background-color: #F1DAF7;
font-family: 'Poppins', sans-serif;
color: #222;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 141%; 
}

.ourservicessecondcard{
  background-color: #E7F2FF;
  font-family: 'Poppins', sans-serif;
  color: #222;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 141%;  
}

.ourservicesthirdcard{
  background-color: #FAF5E4;
  font-family: 'Poppins', sans-serif;
  color: #222;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 141%; 
}

.ourservices{
  margin-bottom: 15%;
}

/* VAGINAL REJUVENATION   */

.Vaginalrejuvenation{
  background-color:  #E7F2FF;
  margin-bottom: 15%;
}

/*  FOUNDERS */

.founders{
  background-color: #F2F2F2;
  height: auto;
  width: auto;
}

/*  ENDING  INDEX PAGE   -------------------------------------------------------------- */


/*  ABOUT PAGE    -------------------------------------------------------------- */

/* .aboutus{
   background-image: url("img/about.png");
   background-repeat: no-repeat;
   height: 500px;
   width: 100%;
} */

.aboutus {
  /* position: absolute; */
  background-image: url("img/about.png");
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  position: relative;  
}

.aboutus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(173, 216, 230, 0.7); /* Light blue with 0.7 opacity */
}

.aboutuscontent{
   position: relative;
   padding-top: 16%;
}

.ourstory{
  /* padding: 5%; */
  margin-top: -2%;
  margin-left: 12%;
  margin-right: 15%;
  /* border: 1px 1px 1px 1px solid black; */
  box-shadow: 20px 20px 20px 15px rgba(32, 32, 32, 0.1);

}
 


/*  ENDING  ABOUT PAGE   ------------------------------------------------------- */



/*   CONTACT  PAGE   -------------------------------------------------------------- */

/*  ENDING   CONTACT PAGE  --------------------------------------------------------- */
 


/*   APPOINMENTPAGE      -------------------------------------------------------------- */

#appoinmentfrom input {
  width: 100%;
  height: 38px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #e2e1e1;
  border: 5px  black ;
  margin-bottom: 8%;
}

#appoinmentfromselect{
  width: 100%;
  height: 38px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #e2e1e1;
  border: 5px  black ;
  margin-bottom: 4%;
}

/*  ENDING  APPOINMENTPAGE  ---------------------------------------------------  */

/*  FOOTER  ------------------------------------------------------------- */

#footer{
  background-color: #00527E;
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Inter', sans-serif;

}
#footer h6{
  color: #FFF;
  font-size:  17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Inter', sans-serif;
}

.footerfirstblock{
  padding-top: 9%;
}

.footersecondblock{
  padding-top: 9%;
}

.footerthirdblock{
  padding-top: 9%;
}


/*  ENDING  FOOTER  ------------------------------------------------------------- */

